@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  color: #2b2b2b;
}
a { color: inherit; }
/* Effet de zoom et fondu au survol */
.project-card img {
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.project-card:hover img {
  transform: scale(1.05);
  opacity: 0.9;
}

.project-card {
  overflow: hidden;
  border-radius: 0.75rem; /* arrondi doux */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.project-card:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}
